 #title {
     font-family: 'Kelly Slab', cursive;
     text-align: center;
     color: #ff4500;
     font-weight: bold;
     letter-spacing: 5px;
 }

 .container {
     border: 1px solid #ccc;
 }

 .motto {
     font-family: 'Ceviche One', cursive;
     text-align: center;
     font-size: 20px;
 }

 .head {
     font-weight: bold;
 }